<a href="https://colab.research.google.com/github/cristhianchica12/cristhianchica12/blob/main/PracticadebderPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAR DATOS

```
# base datos con 5 columnas
```

literal 1 tarea

In [ ]:
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
import pandas as pd
data = pd.read_csv(url)
print(data.head(5))
print(data.shape)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499
(1145586, 5)

imprimir ultimos datos

In [ ]:
print(data.tail(5))
#print(data)

         station_id        stationname        date daytype  rides
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774

otra base de datos

In [ ]:
url='https://raw.githubusercontent.com/Sinchiguano/ai_googleColab/main/smallDataset/movies.csv'
import pandas as pd
datos2 = pd.read_csv(url)
print(datos2.head(5))
print(datos2.shape)

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
(9742, 3)

In [ ]:
datos2.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
datos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

imprimir colunmas paraver caracteristicas

In [ ]:
datos2.columns

Index(['movieId', 'title', 'genres'], dtype='object')

numero de indices

In [ ]:
datos2.index

RangeIndex(start=0, stop=9742, step=1)

para ver una funcion de estadistica

In [ ]:
datos2.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [ ]:
data.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

identifificar valores erroneos

In [ ]:
datos2.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

valor  minimo y maximo

In [ ]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
import pandas as pd
data = pd.read_csv(url)
print(data.head(5))
print(data.shape)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499
(1145586, 5)

In [ ]:
data.head()

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499

valor minimo

In [ ]:
data['rides'].min()

0

valor maximo

In [ ]:
data['rides'].max()

36323

calcular promedio

In [ ]:
data['rides'].mean()

3056.635315899461

agrupar: creando base de datos segun interese

In [ ]:
#mean_column = data.groupbay['rides']
data.groupby(by="rides").mean()

<ipython-input-29-5838d0f49500>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(by="rides").mean()

         station_id
rides
0      40716.597171
1      40601.283784
2      40618.007519
3      40635.272727
4      40656.801802
...             ...
33615  41420.000000
33795  41320.000000
35845  41660.000000
36017  41320.000000
36323  41320.000000

[20726 rows x 1 columns]

In [ ]:
data.head()

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499

promedio de un campo

In [ ]:
data.groupby(by="rides").mean()

<ipython-input-31-cb8ec675388b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(by="rides").mean()

         station_id
rides
0      40716.597171
1      40601.283784
2      40618.007519
3      40635.272727
4      40656.801802
...             ...
33615  41420.000000
33795  41320.000000
35845  41660.000000
36017  41320.000000
36323  41320.000000

[20726 rows x 1 columns]